@model List<VwAuthor>



@{
    ViewData["Title"] = $" Authors";
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Font Awesome CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-BI9q5YJ7pBtWlB8mS3+LbUrZm10JFSpDB+8JvM9rtgFZDSTfCw+2KxEzijJyQtlkLKB50skJ8WbE9AV4Y5q5gw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Authors</h1>
    <a asp-action="AddAuthor" class="d-sm-inline-block btn btn-sm btn-outline-primary shadow-sm"><i class="fas fa-plus"></i> Add </a>


</div>




<style>
    .truncated-text {
        cursor: pointer;
        text-decoration: underline;
    }


    .popup {
        position: absolute;
        display: none;
        padding: 5px;
        background-color: white;
        border: 1px solid black;
        z-index: 9999;
        border-radius: 5px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
        font-size: 14px;
    }
</style>


<div class="row">
    <form method="post" asp-action="Index">
        <div class="row mx-1 mb-2">
            <input type="hidden" value="@ViewBag.AuthorId" name="AuthorId" />
            <input type="text" value="@ViewBag.searchText" class=" col-2 form-control form-control-sm" name="searchText" placeholder="Enter name" />
            <button class="btn btn-sm btn-outline-primary shadow-sm w-auto ml-1"><i class="fa-regular fa-magnifying-glass"></i></button>

        </div>
    </form>
</div>



<div class="row mx-1">
    <table class="table table-bordered shadow text-center">
        <thead class="table-dark">

            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Surname</th>
                <th scope="col">Books</th>
                <th scope="col">Birthdate</th>
                <th width="440">CategoryDescription</th>
                <th width="130" onmouseover="" scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @{
                int counter = 1;
            }
            @foreach (var author in Model)
            {
                <tr>
                    <th scope="row">@counter</th>

                    <td>@author.Name</td>
                    <td>@author.Surname</td>
                    <td>@author.Books</td>
                    <td>@author.Birthdate?.ToString("dd-MM-yyyy")</td>
                    <td class="truncated-text" data-full-text="@author.Description">
                        @{
                            var maxLength = 50;
                            var truncatedText = author.Description.Length > maxLength
                            ? author.Description.Substring(0, maxLength) + "..."
                            : author.Description;
                        }
                        @truncatedText
                        <div class="popup"></div>
                    </td>
                    <td>
                        <a asp-action="AuthorFiles" title="Book files" asp-route-id="@author.Id" class="btn btn-sm btn-circle btn-warning"><i class="fa-thin fa-file-image"></i></a>
                        <a asp-action="EditAuthor" asp-route-id="@author.Id" class="btn btn-sm btn-circle btn-primary"><i class="fa-light fa-pen-to-square"></i></a>
                        <a onclick="return confirm('Are you sure to delete?')" asp-action="DeleteAuthor" asp-route-id="@author.Id" class="btn btn-sm btn-circle btn-danger"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>

                counter++;
            }

        </tbody>
    </table>
</div>



<script>
    $(document).ready(function () {
        $('.truncated-text').hover(function () {
            var fullText = $(this).data('full-text');
            $(this).append($('<div class="popup">' + fullText + '</div>'));
            $('.popup').fadeIn('slow');
        }, function () {
            $('.popup').fadeOut('slow');
            $('.popup').remove();
        });
    });
</script>
