@using LMS_WEB.Repositories.Abstract;
@using Microsoft.AspNetCore.Identity;

@inject UserManager<AppUser> _userManager
@inject IBookCategoryRepository _categoryRepository;
@{
    var user = await _userManager.GetUserAsync(this.User);
}

@{
    var _category = await _categoryRepository.GetAllAsync();
}



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="~/images/book-stack.png" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="~/lib/fontawesome v6 pro/assets/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    @*<link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" />*@
    <!-- Custom styles for this template-->
    <link href="~/css/sb-admin-2.css" rel="stylesheet" />
    <link href="~/vendor/toastr/toastr.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">

</head>


<header>



    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div >
            <div class="row justify-content-center ">
                <div class=" w-100 text-center mt-1">
                    <a class="navbar-brand mx-3 pt-3" asp-controller="Site" asp-action="Index" > Library  </a>
                </div>

            </div>
        </div>
        <div class="container-fluid">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="fa fa-bars"></span> Menu
            </button>
            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav m-auto">
                    <li class="nav-item active"><a class="nav-link" asp-controller="Site" asp-action="Index">Home</a></li>


                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown04">
                            @foreach (var category in _category)
                            {
                                <a class="dropdown-item" asp-controller="Site" asp-action="CategotyFilter" asp-route-id="@category.Id">@category.Name</a>
                            }
                        </div>
                    </li>

                    <li class="nav-item"><a asp-controller="SiteBook" asp-action="Index" class="nav-link">Books</a></li>
                    <li class="nav-item"><a asp-controller="SiteAuthor" asp-action="Index" class="nav-link">Authors</a></li>
                    <li class="nav-item"><a asp-controller="SiteEvent" asp-action="Index" class="nav-link">Events</a></li>
                    <li class="nav-item"><a asp-controller="Contact" asp-action="Index" class="nav-link">Contact us</a></li>
                </ul>

                <ul>
                    @if (user != null)
                    {
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">@user.FirstName @user.LastName</span>
                                @if (!string.IsNullOrEmpty(user.ImagePath))
                                {
                                    <img class="img-profile rounded-circle" width="40" src="@user.ImagePath" asp-append-version="true">
                                }
                                else
                                {
                                    <img class="img-profile rounded-circle" width="40" src="/img/undraw_profile.svg" asp-append-version="true">
                                }
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                <a class="dropdown-item" asp-controller="Account" asp-action="Profile" asp-route-id="@user.Id">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>

                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" method="post" asp-controller="SiteOrder" asp-action="Index" asp-route-Id="@user.Id">
                                    <i class="fa-regular fa-basket-shopping fa-sm fa-fw mr-2 text-gray-400"></i>
                                    My Orders
                                </a>

                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-controller="Account" asp-action="Logout">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout

                                </a>
                               
                            </div>


                        </li>
                    }
                    else
                    {
                        <a class="dropdown-item" asp-controller="Account" asp-action="Login" style="color:white">
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                            Login
                        </a>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <!-- END nav -->
   

    <script src="js/jquery.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>

</header>

<body>




    <div id="main">
        @RenderBody()
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <!-- Bootstrap core JavaScript-->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/js/sb-admin-2.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>


<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; Library  @DateTime.Now.Year</span>
        </div>
        <div class="col-md-4 d-flex">
            <div class="social-media">
                <p class="mb-0 d-flex">
                    <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"><i class="sr-only">Facebook</i></span></a>
                    <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"><i class="sr-only">Twitter</i></span></a>
                    <a href="https://www.instagram.com/codersazerbaijan/" target="_blank" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"><i class="sr-only">Instagram</i></span></a>
                    <a href="https://dribbble.com/" target="_blank" class="d-flex align-items-center justify-content-center"><span class="fa fa-dribbble"><i class="sr-only">Dribbble</i></span></a>
                </p>
            </div>
        </div>
    </div>
</footer>
<!-- End of Footer -->

</html>

