@model List<VwRole>

@{
    ViewData["Title"] = "Roles";
}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Roles</h1>
    <a asp-action="CreateRole" class="d-sm-inline-block btn btn-sm btn-outline-primary shadow-sm">Create <i class="fa-light fa-plus"></i></a>
</div>

<div class="row mx-1">
    <table class="table table-bordered shadow text-center">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Users</th>
                <th width="100" scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @{
                int counter = 1;
            }
            @if (Model.Any())
            {
                @foreach (var role in Model)
                {
                    <tr>
                        <th scope="row">@counter</th>
                        <td>@role.Name</td>
                        <td>@role.UserCount</td>
                        <td>
                            <a asp-action="EditRole" asp-route-id="@role.Id" class="btn btn-sm btn-circle btn-primary"><i class="fa-light fa-pen-to-square"></i></a>
                            <a onclick="return confirm('Are you sure to delete?')" asp-action="DeleteRole" asp-route-id="@role.Id" class="btn btn-sm btn-circle btn-danger"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>

                    counter++;
                }
            }
            else
            {
                <tr>
                    <td colspan="4">
                        <p class="text-center fs-15">No roles available. You can  <a asp-action="CreateRole">create</a> new role.</p>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>