@model List<VwMostOrderedBook>


@{
    ViewData["Title"] = "Home";
}



<style>
    .truncated-text {
        cursor: pointer;
    }

    .popup {
        position: absolute;
        display: none;
        padding: 5px;
        background-color: white;
        border: 1px solid black;
        z-index: 9999;
        border-radius: 5px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
        font-size: 14px;
    }

    .card {
        border: none;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease-in-out;
        height: 96%;
    }

        .card:hover {
            transform: scale(1.05);
        }

    .card-img-top {
        height: 400px;
        object-fit: cover;
    }

    .card-body {
        padding: 1.25rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 80%;
    }

    .card-title {
        font-weight: 500;
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
    }

    .card-text {
        margin-bottom: 1rem;
        height: 80px;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-word;
    }

    .btn {
        font-size: 1rem;
        border-radius: 50px;
        padding: 0.75rem 1rem;
        margin-top: auto;
        width: 100%;
    }
</style>

<hr> 
<h1 class="mint" style="text-align: center">Most read books</h1>



<div class="container mx-auto mt-4">
    <div class="row">



        @foreach (var book in Model)
        {
            <div class="col-md-3 mb-3 ">    
                <div class="card">
                    <img src="@book.ImagePath" asp-append-version="true" class="card-img-top" />

                    <div class="card-body">
                        <h5 class="card-title">@book.Name</h5>
                        <a asp-controller="SiteBook" asp-action="BookAuthor" asp-route-id="@book.AuthorId"><i class="fas fa-feather"></i> @book.Author </a>
                        <p class="card-text">@book.Description</p>
                        <a asp-controller="SiteBook" asp-action="OrderBook" asp-route-id="@book.Id" class="btn btn-secondary mt-2"><i class="fa-regular fa-bag-shopping"></i> Order</a>
                    </div>
                </div>
            </div>
        }
       

    </div>
</div>

 <hr>

 
<h1 class="mint" style="text-align: center">Recommended</h1>




<style>
    .BookCon {
        max-width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 24px 48px;
        flex-wrap: wrap;
        overflow: hidden;
        flex-direction: row;
        gap: 16px;
    }

    .BookCard {
        display: flex;
        border: 1px #e5e7eb solid;
        border-radius: 8px;
        height: 200px;
        width: 450px;
        max-width: 100%;
        transition: 0.3s;
    }

        .BookCard:hover {
            transform: scale(1.02);
        }

    .CardImage {
        border-radius: 8px 0 0 8px;
        max-width: 125px;
        object-fit: fill;
    }

    .CardBody {
        padding: 16px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    }

    .CardMain {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .BookAuthor {
        text-decoration: none;
        color: #718096;
        font-size: 14px;
        font-weight: 200;
    }

    .BookName {
        margin: 0;
        color: #1a202c;
        font-size: 20px;
    }

    .BookDescription {
        margin: 0;
        font-size: 16px;
        color: #4a5568;
    }

    .BookDescription {
        display: -webkit-box;
        overflow: hidden;
        max-height: 50px;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        line-height: 24px;
    }

    .OrderSection {
        display: flex;
        width: 100%;
        justify-content: end;
    }

    .orderBtn {
        display: flex;
        align-items: center;
        border: none;
        text-decoration: none;
        height: 40px;
        padding: 0 16px;
        border-radius: 4px;
        font-size: 16px;
        background-color: black;
        color: white;
    }

        .orderBtn:hover {
            opacity: 0.8;
            cursor: pointer;
        }

    media only screen and (max-width: 1013px) {
        .BookCon

    {
        padding: 24px 16px;
    }

    .BookCard {
        width: 100%;
        height: 200px;
    }

    }

    media only screen and (max-width: 600px) {
        .BookCon

    {
        padding: 24px 16px;
    }

    .BookCard {
        width: 100%;
        height: 250px;
    }
</style>

<form asp-controller="Site" asp-action="RecommendedBooks">
<div class="BookCon">



@*    @foreach (var books in Model)
    {
        

    <div class="BookCard">
        <img src="@books.ImagePath" asp-append-version="true" class="CardImage" />

        <div class="CardBody">
            <div class="CardMain">
                <a href="" class="BookAuthor">@books.Author</a>
                <h5 class="BookName"> @books.Name</h5>
                <p class="BookDescription">
                    @books.Description
                </p>
            </div>
            <div class="OrderSection">
                <a asp-controller="SiteBook" asp-action="OrderBook" asp-route-id="" class="orderBtn">Order</a>
            </div>
        </div>
    </div>

    }
*@


      <div class="BookCard">
            <img src="~/uploads/books/doc_20230331_000833728.jpg" asp-append-version="true" class="CardImage" /> 
     
        <div class="CardBody">
            <div class="CardMain">
                    <a href="" class="BookAuthor">Ernest Hemingway</a>
                    <h5 class="BookName"> For Whom the Bell Tolls</h5>
                <p class="BookDescription">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </p>
            </div>
            <div class="OrderSection">
                <a asp-controller="SiteBook" asp-action="OrderBook" asp-route-id="" class="orderBtn">Order</a>
            </div>
        </div>
    </div> 
    <div class="BookCard">
        <img src="~/uploads/books/doc_20230326_190344884.jpg" asp-append-version="true" class="CardImage" />
        <div class="CardBody">
            <div class="CardMain">
                <a href="" class="BookAuthor"> John Steinbeck</a>
                <h5 class="BookName">
                    The Grapes of Wrath
                </h5>
                <p class="BookDescription">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </p>
            </div>
            <div class="OrderSection">
                <a asp-controller="SiteBook" asp-action="OrderBook" asp-route-id="" class="orderBtn">Order</a>
            </div>
        </div>
    </div>

    <div class="BookCard">
        <img src="~/images/bookimg2.jpg" asp-append-version="true" class="CardImage" />

        <div class="CardBody">
            <div class="CardMain">
                <a href="" class="BookAuthor"> Author</a>
                <h5 class="BookName"> Memory</h5>
                <p class="BookDescription">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </p>
            </div>
            <div class="OrderSection">
                <a asp-controller="SiteBook" asp-action="OrderBook" asp-route-id="" class="orderBtn">Order</a>
            </div>
        </div>
    </div>
 
</div>
</form>
<script>
    $(document).ready(function () {
        $('.truncated-text').hover(function
            () {
            var fullText = $(this).data('full-text');
            $(this).append($('<div class="popup">' + fullText + '</div>'));
            $('.popup').fadeIn('slow');
        }, function () {
            $('.popup').fadeOut('slow');
            $('.popup').remove();
        });
    });
</script>
